@charset "utf-8";
/* CSS Document */

h1{	
	color:#096;
	text-align:center;
}

.labels{
	width:20%;
	text-align: center;
}
	
.textfields{
	width:40%;
	text-align: center;
}

.container-fluid{

	border:solid;
	border-color:#000;
	border-width:1px;
}

.pol{
	width:45%;
	}
